// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/css3/font-face";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

// fonts

// @include font-face('Garogier', font-files('Garogier/Garogier_unhinted.otf'));
// $garogier: 'Garogier', serif;

@include font-face('Crimson', font-files('Crimson/Crimson-Roman.otf'));
$crimson: 'Crimson', serif;

@include font-face('Springsteel Light', font-files('SpringsteelLight/springsteel-lig-webfont.ttf'));
$springsteel-light: 'Springsteel Light', sans-serif;

// colors

$light-blue: #E0EFF1;
$dark-blue: #7DB4B5;
$purple: #680148;

// other

$content-div: '.content';