// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/css3/font-face";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

// fonts

@include font-face('Crimson', font-files('Crimson/Crimson-Roman.otf'));
$crimson: 'Crimson', serif;

@include font-face('News Cycle', font-files('news-cycle/NewsCycle-Regular.ttf'));
$news-cycle: 'News Cycle', sans-serif;

@include font-face('New Cicle', font-files('New-Cicle/New_Cicle_Fina.ttf'));
$new-cicle: 'New Cicle', sans-serif;

// colors

// $light-blue: #E0EFF1;
// $dark-blue: #7DB4B5;
// $purple: #680148;

$teal: #026873;

// other

$content-div: '.content';