---
title: Finding Your Feet
description: A brief talk about getting started in tech
layout: reveal
---

<%
def img_link(name)
  "/talks/finding-your-feet/images/#{name}"
end
%>

<section>
  <h1>
    Finding Your Feet
  </h1>
</section>

<section>
  <h1>Betsy Haibel</h1>
  <ul>
    <li>mostly I did theater</li>
    <li>I swear this is relevant</li>
  </ul>
</section>

<section>
  <h1>mostly I did theater</h1>
  <ul>
    <li>technical field working with less technical people</li>
    <li>Most of job figuring out how to meet nontechnical needs with technical skills</li>
    <li>painting things pretty was important, but not as much so as communication and negotiation</li>
  </ul>
</section>

<section>
  <h1>actual life as a software developer</h1>
  <ul>
    <li>writing just enough code to get the job done well enough</li>
    <li>figuring out what "just enough" and "well enough" are</li>
    <li>making sure the client is okay with it</li>
  </ul>
</section>

<section>
  <h1>my first programming language....</h1>
</section>

<section>
  <h1>Microsoft Excel</h1>
</section>

<section>
  <h1>Wait, Excel's <em>programming</em>?</h1>
  <ul>
    <li class="fragment">Oh yeah.</li>
    <div class="fragment">
      <li>functional reactive programming</li>
      <li>good for rapid development of numbers-driven apps</li>
      <li>also rapid prototyping of same</li>
    </div>
  </ul>
</section>

<section>
  <h1>Domain Modelling</h1>
  <h2>the ability to break down a problem into bits</h2>
</section>

<section>
  <h1>What to do next.</h1>
  <div class='tagcloud' tagcloud>
    <% 
"Twitter Bootstrap
jQuery
carrierwave
delayed_job
resque
less
redis
GruntJS
ReactJS
Sinatra
JSLint
Kafka
markdown
unicorn
rubocop
sass
Firebase
haml
slim
rack
Nokogiri
ActiveJob
FactoryGirl
minitest
cucumber
Gherkin
capybara-webkit
watir
Foundation
FoundationDB
MongoDB
coffeescript
AngularJS

Jasmine".split("\n").each do |concept|
    %>
      <span class="fragment"><%=concept %></span>
    <% end %>
  </div>
</section>

<section>
  <h1>Breathe. Focus.</h1>
  <ul>
    <li>Focus on the problem.</li>
    <li>Focus on "good enough," not "perfect."</li>
    <li>Right now, getting it to work is enough.</li>
  </ul>
</section>

<section>
  <h1>Next steps</h1>
  <ul>
    <li>turn a spreadsheet into a CRUD app!</li>
    <li>write a web scraper with Nokogiri!</li>
    <li>Mail merge with Liquid!</li>
    <li>SOMETHING YOU'LL USE.</li>
  </ul>
</section>

<section>
  <h1>Tech to experiment with:</h1>
  <ul>
    <li>image uploads: carrierwave, s3</li>
    <li>Javascript: use JQuery to add dynamic UIs</li>
    <li>Compass and SCSS: for more prettier websites</li>
    <li>Resque: run long tasks in the background!</li>
    <li>new databases: MongoDB's good for content management.</li>
    <li>geocoding gems: store map data</li>
  </ul>
</section>

<section>
  <h1>If you don't need it, don't use it!</h1>
</section>

<section>
  <h1>Some books to try</h1>
  <ul>
    <li>Practical Object-Oriented Design in Ruby, Sandi Metz</li>
    <li>Eloquent Ruby, Russ Olsen</li>
    <li>Confident Ruby, Avdi Grimm</li>
  </ul>
</section>

<section>
  <h1>Code Katas</h1>
  <ul>
    <li><a href="http://codekata.com">http://codekata.com</a></li>
    <li>Good abstract exercises to practice refactoring with</li>
  </ul>
</section>

<section>
  <h1>Other People's code</h1>
  <ul>
    <li>whatever you're using</li>
    <li>NOT RAILS</li>
  </li>
</section>

<section>
  <h1>Community!</h1>
  <ul>
    <li>Learn Ruby in DC</li>
    <li>Women Who Code DC</li>
    <li>Learn.JS</li>
    <li>DCRUG</li>
    <li>Arlington Ruby</li>
    <li>Ruby LoCo</li>
  </ul>
</section>

<section>
  <h1>Me!</h1>
  <ul>
    <li>Betsy Haibel</li>
    <li>Optoro</li>
    <li>betsyhaibel.com</li>
    <li>github.com/bhaibel</li>
    <li>@betsythemuffin</li>
    <li>betsy.haibel@gmail.com</li>
  </ul>
  <h2>Slides!</h2>
  <p>http://betsyhaibel.com/talks/finding-your-feet/slides</p>
</section>

<section>
  <img src="https://pbs.twimg.com/media/BvP1OdVIEAEWwkF.jpg"  style='margin-top: -12em' />
<section>
